---
import Layout from '../layouts/Layout.astro';
import App from '../App';
import '../App.css';
import '../particles.css';
---

<Layout title='Portfolio'>
  <main >
    <App client:load/>
  </main>
</Layout>
