body {
  cursor: none;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.ring-cursor {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-30%, -0%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid grey;
  pointer-events: none;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.301);
}
#aboutHeader,
.background,
#contact {
  background-color: #090a0f;
}
#headOne {
  font-weight: 300;
  letter-spacing: 10px;
  background: -webkit-linear-gradient(top, white, rgb(56, 73, 90));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#headTwo {
  font-weight: 300;
  letter-spacing: 5px;
  background: -webkit-linear-gradient(top, white, rgb(56, 73, 90));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#cardHeader {
  font-weight: bold;
  text-align: center;
  color: #090a0f;
}
.headers {
  text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255),
    -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
  font-size: 72px;
  color: #090a0f;
  padding-bottom: 20px;
  background-color: #090a0f;
}
.section {
  width: 1350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 70px 0;
}
.row {
  width: 100%;
  display: flex;
}
.transition-opacity {
  transition: opacity 0.5s ease-in-out;
}
#FColor {
  background-color: #050609;
}
.fade-in {
  animation: fade-in 0.8s ease-out;
}
#container {
  background: linear-gradient(to bottom, #1b2735 0, #090a0f 100%);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media only screen and (max-width: 1535px) {
  .section {
    width: 800px;
  }
}
@media only screen and (max-width: 830px) {
  .section {
    width: 400px;
  }
}
@media only screen and (max-width: 430px) {
  .section {
    width: 300px;
  }
  .carousel {
    width: 300px;
    height: 500px;
  }
  .headers {
    font-size: 50px;
    width: 270px;
  }
}
